<!DOCTYPE HTML>
<html lang="{{ language }}">

<head>
    <!-- Book generated using mdBook -->
    <meta charset="UTF-8">
    <title>{{ description }}</title>  <!-- hugo memo theme use title as digest -->

    <!-- Custom HTML head -->
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ path_to_root }}themes/css/general.css">

    <style>
        .typst-app { position: relative; }
    </style>
    
    <script id="book-js" type="module" src="{{ path_to_root }}internal/book.mjs"></script>
    <script>
        window.typstRerender = () => { };
        window.typstChangeTheme = () => { };

        var typstBookJsLoaded = new Promise((resolve, reject) => {
            document.getElementById('book-js').addEventListener('load', resolve);
            document.getElementById('book-js').addEventListener('error', reject);
        });

      var rendererWasmModule = fetch('{{path_to_root}}{{ renderer_module }}');
        window.typstRenderModuleReady = typstBookJsLoaded.then(() => {
            var typstRenderModule = window.typstRenderModule =
                window.TypstRenderModule.createTypstRenderer();
            return typstRenderModule
                .init({
                    getModule: () => rendererWasmModule,
                }).then(() => typstRenderModule);
        }).catch((err) => {
            console.error('book.js failed to load', err);
        });
    </script>

</head>

<body>
    <div id="body-container">
        <!-- Provide site root to javascript -->
        <script>
            var path_to_root = "{{ path_to_root }}";
            window.typstPathToRoot = path_to_root;
            var default_theme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
        </script>
        <script>
            let dom = document.documentElement  // The dom containing theme infomation
            window.getTypstTheme = function getTypstTheme() {
                var _theme;
                _theme = dom.getAttribute("data-theme"); // Depends on the hugo theme used
		if (_theme === undefined || _theme === null) {
		    _theme = default_theme;
		}
                window.typstBookTheme = _theme;
                return _theme;
            }
            window.isTypstLightTheme = function isLightTheme(theme) {
                return theme === 'light';
            }
            var theme = getTypstTheme();
            // Create a MutationObserver instance
            const observer = new MutationObserver((mutationsList) => {
                for (const mutation of mutationsList) {
                    if (mutation.type === 'attributes') {
                        window.typstChangeTheme();
                    }
                }
            });

            // Configure the observer to watch for attribute changes
            observer.observe(dom, {
                attributes: true, // Observe attribute changes
                attributeFilter: ['data-theme'], // (Optional) Observe specific attributes, e.g., 'lang'
            });
        </script>
        <!-- Set the theme before any content is loaded, prevents flash -->
        <div id="page-wrapper" class="page-wrapper">
            <div class="page">
                <div id="content" class="content">
                    <main>
		      <script>
			let appContainer = document.currentScript && document.currentScript.parentElement;
			window.typstRenderModuleReady.then((plugin) => {
			    window.typstBookRenderPage(plugin, "{{ path_to_root }}{{ rel_data_path }}", appContainer);
			});
		      </script>		      
                    </main>
                </div>
            </div>

        </div>
        <script src="{{ path_to_root }}internal/svg_utils.js"></script>
    </div>
    <div style="height:0; visibility: hidden; pointer-events: none;">
        quaerat voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna accessio 
        potest, si aliquod aeternum et infinitum impendere malum nobis opinemur. Quod idem licet transferre 
        in voluptatem, ut postea variari voluptas distinguique possit, augeri amplificarique non possit. 
        At etiam Athenis, ut e patre audiebam facete et urban
    </div><!-- issue https://github.com/wenbin-liu/typst-hugo/issues/1 -->
  
</body>

</html>
